.success-popup{
    position: fixed;
    inset: 0;
}
.success-popup-overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    inset: 0;
}
.success-popup-content{
    position: relative;
    z-index: 11;
}

.success-popup-content{animation:tracking-in-expand-forward-top 0.2s ease-in-out both} 
@keyframes tracking-in-expand-forward-top{0%{letter-spacing:-.2em;transform:translateZ(-700px)
     translateY(-100px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0) translateY(0);opacity:1}}